@model PetPaw.Models.Register
@{
    ViewBag.Title = "Login";
}

<script src="~/Scripts/Account/AccountJS.js"></script>

<div class="foto-secction container-fluid">
    <div class="box-shadow">
        <div class="contact-form container" style="padding-top:100px;">
            <h3 class="header-text2 float-right pb-3"> Log In </h3>
            <div class="form-group">
                <input type="email" class="form-control form1 text-center" id="email" placeholder="E-mail" name="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control form1 text-center" id="password" placeholder="Password" name="password">
            </div>
            <div class="form-group">
                <p style="color: red; font-size: 16px" id="erorr"></p>
            </div>
            <a href="#"> <span class="validation-m"> Forgot your password? </span> </a>
            <button class="btn btn-primary send-bg mx-auto d-flex  mt-3" id="signButton">Sign In  </button>
        </div>
        <div class="text-login container ">
            <h4 class="text-in-contact-login  text-center"> Sign In </h4>
            <h4 class="text-in-contact-login2 text-center"> with your social network</h4>
        </div>
        <form class="contact-form2">
            <div class="form-group">
                <a href="#"> <input type="text" style="text-align:center; color: white; font-size:25px" id="icon" class="form-control form1-bg1" value="Google"> </a>
            </div>
            <div class="form-group">
                <a href="#"> <input type="text" style="text-align:center; color:white;font-size:25px" id="icon2" class="form-control form1-bg2" value="Facebook"> </a>
            </div>
        </form>
    </div>
</div>