@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid main-container">
    <div id="carouselExampleIndicators" class="carousel slide carousel-height" data-ride="carousel">
        <ol class="carousel-indicators indcation">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner slide-bg">
            <div class="carousel-item slide-bg-1 slide-bg active">
                <div class="container">
                    <div class="carousel-caption cursor-default">
                        <h1>Buy dogs</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item  slide-bg-2 slide-bg">
                <div class="container">
                    <div class="carousel-caption cursor-default">
                        <h1>Buy dogs</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item slide-bg slide-bg-3">
                <div class="container">
                    <div class="carousel-caption cursor-default">
                        <h1>Buy dogs</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item slide-bg slide-bg-4">
                <div class="container">
                    <div class="carousel-caption cursor-default">
                        <h1>Buy dogs</h1>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="buttonContainer homeButton roboto d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-md">Lorem</button>
    </div>
</div>
<div class="container-fluid text-btw roboto">
    <h2> Lorem ipsum dolor sit amet, consectetuer</h2>
</div>
<!-- 	</div> -->
<div class="container-fluid col-height">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="img-left pic mt-1">
                <div class="insinde-cont roboto">
                    <p class="text">Lorem ipsum dolor sit Lorem ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="img-right pic mt-1">
                <div class="insinde-cont roboto">
                    <p class="text">Lorem ipsum dolor sit Lorem ipsum</p>
                </div>
            </div>
        </div>
    </div>
    <div class="buttonContainer homeButton roboto d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-md">Lorem</button>
    </div>
    <div class="row text-btw roboto">
        <div class="col-12">
            <h2> Lorem ipsum dolor sit amet, consectetuer ipsum dome</h2>
        </div>
    </div>
    <div class="container-fluid col-height">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="pic mt-1" style="background-color: #005E3C">
                    <div class="row">
                        <div class="img-veterinar-1 col-4">
                        </div>
                        <div class="col-6 roboto">
                            <h3 class="footer-color mt-4">Lorem ipsum dolor</h3>
                            <p class="mt-4 footer-color">Lorem ipsum dolor sit Lorem ipsum Lorem ipsum dolor sit Lorem ipsum Lorem ipsum dolor sit Lorem ipsum</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="pic mt-1" style="background-color: #005E3C">
                    <div class="row">
                        <div class="img-veterinar-1 col-4">
                        </div>
                        <div class="col-6 roboto">
                            <h3 class="footer-color mt-4">Lorem ipsum dolor</h3>
                            <p class="mt-4 footer-color">Lorem ipsum dolor sit Lorem ipsum Lorem ipsum dolor sit Lorem ipsum Lorem ipsum dolor sit Lorem ipsum</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttonContainer homeButton roboto d-flex justify-content-end">
            <button type="button" class="btn btn-primary btn-md">Lorem</button>
        </div>
    </div>
</div>