
@{
    ViewBag.Title = "Market";
}

<div class="main-category roboto container-fluid d-flex">
    <div class="Filter">
        <h1 class="Category-Title">
            Category
        </h1>
        <div class="category-filter">
            <h2> Lorem ipsum dolor </h2>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
        </div>
        <div class="category-filter">
            <h2> Lorem ipsum dolor </h2>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
        </div>
        <div class="category-filter">
            <h2> Lorem ipsum dolor </h2>
            <form>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 1</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 2</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 3</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 3</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 3</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 3</label>
                </div>
            </form>
        </div>
        <div class="category-filter">
            <h2> Lorem ipsum dolor </h2>
            <form>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 1</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 2</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 3</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 3</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 3</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 3</label>
                </div>
            </form>
        </div>
        <div class="category-filter">
            <h2> Lorem ipsum dolor </h2>
            <form>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 1</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 2</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 3</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 3</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 3</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 3</label>
                </div>
            </form>
        </div>
    </div>
    <div class="category-container container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 market-product-border">
                <img class="rounded mx-auto d-block" src="~/img/jeff-nissen-567973-unsplash.jpg" style=" height: 200px; width: 100%; max-width: 248px;">
                <h1 class="productName  text-center">
                    Dogo
                </h1>
                <p class="price text-center">
                    100$
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 market-product-border">
                <img class="rounded mx-auto d-block" src="~/img/jeff-nissen-567973-unsplash.jpg" style=" height: 200px; width: 100%; max-width: 248px;">
                <h1 class="productName" >
                    Dogo
                </h1>
                <p class="price text-center">
                    100$
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 market-product-border">
                <img class="rounded mx-auto d-block"src="~/img/jeff-nissen-567973-unsplash.jpg" style=" height: 200px; width: 100%; max-width: 248px;">
                <h1 class="productName text-center" >
                    Dogo
                </h1>
                <p class="price text-center">
                    100$
                </p>
            </div>
        </div>
    </div>
</div>

