
@{
    ViewBag.Title = "Market";
}

<section>
    <div class="main-category roboto container-fluid d-flex">
        <div class="Filter">
            <h1 class="Category-Title">
                Category
            </h1>

            <div class="category-filter ">
                <h2> Dog Breeds </h2>
                <p>Amerikan Akita</p>
                <p>Amerikan Bulldog</p>
                <p>Amerikan Bully</p>
                <p>Amerikan Cocker Spaniel</p>
                <p>Amerikan Staffordshire</p>
                <p>Anglo-Russian Hound</p>
                <p>Beagle</p>
                <p>Belgian Shepherd Dog</p>
                <p>Berner Sennenhund</p>
                <p>Boxer</p>
                <p>Brasilian Fila</p>
                <p>Brittany Spaniel</p>
            </div>

            <div class="category-filter">
                <h2> Gender </h2>
                <form>
                    <div class="radio">
                        <label><input type="radio" name="optradio">Female</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio">Male</label>
                    </div>
                </form>
            </div>

            <div class="category-filter">
                <h2> Lifestage</h2>
                <form>
                    <div class="radio">
                        <label><input type="radio" name="optradio"> Puppy</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio">Adult</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio">Senior</label>
                    </div>
                </form>
            </div>

            <div class="category-filter">
                <h2> Price </h2>
                <form class="price-controls">
                    <input class="min-price  outline" type="text" placeholder="from">
                    <input class="max-price  outline" type="text" placeholder="to">
                    <img class="georgian-lari ml-2" src="~/img/Sign_of_Georgian_Lari.svg">

                    <button type="submit" class="btn btn-primary save-bg ml-auto d-flex mt-5 mr-4">Filter</button>
                </form>
            </div>
        </div>


        <div class="category-container container roboto mr-3">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 marketBorder">
                    <img class="rounded mx-auto d-block" src="~/img/canecorso.png" style=" /*height: 200px; */width: 100%; max-width: 248px;">
                    <h1 class="productName pt-2" style="font-size: 20px; text-align: center;">
                        Cane Corso Puppies
                    </h1>
                    <p class="marketDescription">
                        Everything you want to know about Cane Corso, including: grooming, training,
                        health problems, history
                    </p>
                    <p class="price">
                        $ 100
                    </p>
                    </br>
                    </br>
                    <div class="d-flex justify-content-between mb-3">
                        <input class="addCard marketButton box-shadow" type="button" name="addToCard" value="Save For Later">
                        <input class="Details marketButton box-shadow" type="button" name="Details" value="Details">
                    </div>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-12 marketBorder">
                    <img class="rounded mx-auto d-block" src="~/img/canecorso.png" style=" /*height: 200px; */width: 100%; max-width: 248px;">
                    <h1 class="productName pt-2" style="font-size: 20px; text-align: center;">
                        Cane Corso Puppies
                    </h1>
                    <p class="marketDescription">
                        Everything you want to know about Cane Corso, including: grooming, training,
                        health problems, history
                    </p>
                    <p class="price">
                        $ 100
                    </p>
                    </br>
                    </br>
                    <div class="d-flex justify-content-between mb-3">
                        <input class="addCard marketButton box-shadow" type="button" name="addToCard" value="Save For Later">
                        <input class="Details marketButton box-shadow" type="button" name="Details" value="Details">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 marketBorder">
                    <img class="rounded mx-auto d-block" src="~/img/canecorso.png" style=" /*height: 200px; */width: 100%; max-width: 248px;">
                    <h1 class="productName pt-2" style="font-size: 20px; text-align: center;">
                        Cane Corso Puppies
                    </h1>
                    <p class="marketDescription">
                        Everything you want to know about Cane Corso, including: grooming, training,
                        health problems, history
                    </p>
                    <p class="price">
                        $ 100
                    </p>
                    </br>
                    </br>
                    <div class="d-flex justify-content-between mb-3">
                        <input class="addCard marketButton box-shadow" type="button" name="addToCard" value="Save For Later">
                        <input class="Details marketButton box-shadow" type="button" name="Details" value="Details">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 marketBorder">
                    <img class="rounded mx-auto d-block" src="~/img/canecorso.png" style=" /*height: 200px; */width: 100%; max-width: 248px;">
                    <h1 class="productName pt-2" style="font-size: 20px; text-align: center;">
                        Cane Corso Puppies
                    </h1>
                    <p class="marketDescription">
                        Everything you want to know about Cane Corso, including: grooming, training,
                        health problems, history
                    </p>
                    <p class="price">
                        $ 100
                    </p>
                    </br>
                    </br>
                    <div class="d-flex justify-content-between mb-3">
                        <input class="addCard marketButton box-shadow" type="button" name="addToCard" value="Save For Later">
                        <input class="Details marketButton box-shadow" type="button" name="Details" value="Details">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 marketBorder">
                    <img class="rounded mx-auto d-block" src="~/img/canecorso.png" style=" /*height: 200px; */width: 100%; max-width: 248px;">
                    <h1 class="productName pt-2" style="font-size: 20px; text-align: center;">
                        Cane Corso Puppies
                    </h1>
                    <p class="marketDescription">
                        Everything you want to know about Cane Corso, including: grooming, training,
                        health problems, history
                    </p>
                    <p class="price">
                        $ 100
                    </p>
                    </br>
                    </br>
                    <div class="d-flex justify-content-between mb-3">
                        <input class="addCard marketButton box-shadow" type="button" name="addToCard" value="Save For Later">
                        <input class="Details marketButton box-shadow" type="button" name="Details" value="Details">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 marketBorder">
                    <img class="rounded mx-auto d-block" src="~/img/canecorso.png" style=" /*height: 200px; */width: 100%; max-width: 248px;">
                    <h1 class="productName pt-2" style="font-size: 20px; text-align: center;">
                        Cane Corso Puppies
                    </h1>
                    <p class="marketDescription">
                        Everything you want to know about Cane Corso, including: grooming, training,
                        health problems, history
                    </p>
                    <p class="price">
                        $ 100
                    </p>
                    </br>
                    </br>
                    <div class="d-flex justify-content-between mb-3">
                        <input class="addCard marketButton box-shadow" type="button" name="addToCard" value="Save For Later">
                        <input class="Details marketButton box-shadow" type="button" name="Details" value="Details">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 marketBorder">
                    <img class="rounded mx-auto d-block"src="~/img/canecorso.png" style=" /*height: 200px; */width: 100%; max-width: 248px;">
                    <h1 class="productName pt-2" style="font-size: 20px; text-align: center;">
                        Cane Corso Puppies
                    </h1>
                    <p class="marketDescription">
                        Everything you want to know about Cane Corso, including: grooming, training,
                        health problems, history
                    </p>
                    <p class="price">
                        $ 100
                    </p>
                    </br>
                    </br>
                    <div class="d-flex justify-content-between mb-3">
                        <input class="addCard marketButton box-shadow" type="button" name="addToCard" value="Save For Later">
                        <input class="Details marketButton box-shadow" type="button" name="Details" value="Details">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 marketBorder">
                    <img class="rounded mx-auto d-block" src="~/img/canecorso.png" style=" /*height: 200px; */width: 100%; max-width: 248px;">
                    <h1 class="productName pt-2" style="font-size: 20px; text-align: center;">
                        Cane Corso Puppies
                    </h1>
                    <p class="marketDescription">
                        Everything you want to know about Cane Corso, including: grooming, training,
                        health problems, history
                    </p>
                    <p class="price">
                        $ 100
                    </p>
                    </br>
                    </br>
                    <div class="d-flex justify-content-between mb-3">
                        <input class="addCard marketButton box-shadow" type="button" name="addToCard" value="Save For Later">
                        <input class="Details marketButton box-shadow" type="button" name="Details" value="Details">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 marketBorder">
                    <img class="rounded mx-auto d-block" src="~/img/canecorso.png" style=" /*height: 200px; */width: 100%; max-width: 248px;">
                    <h1 class="productName pt-2" style="font-size: 20px; text-align: center;">
                        Cane Corso Puppies
                    </h1>
                    <p class="marketDescription">
                        Everything you want to know about Cane Corso, including: grooming, training,
                        health problems, history
                    </p>
                    <p class="price">
                        $ 100
                    </p>
                    </br>
                    </br>
                    <div class="d-flex justify-content-between mb-3">
                        <input class="addCard marketButton box-shadow" type="button" name="addToCard" value="Save For Later">
                        <input class="Details marketButton box-shadow" type="button" name="Details" value="Details">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
