
@{
    ViewBag.Title = "VetDetailed";
}

<section>
    <div class="foto-secction container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="doctor-foto1 " src="~/img/vet2.jpg" alt="Veterinars">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h4 class="doctor-name pt-3 roboto ml-4" style="font-size:27px!important;"> David Nanobasvili </h4>
                <p class="doctor-name pt-2 ml-4"> Chief Veterinary doctor </p>
                <p class="clinic-name ml-4"> <span class="workplace-bg roboto"> Workplace: </span> <span class="workplace-and-adress-bg pl-2"> Clinic AB-Vet buneba </span></p>
                <p class="clinic-location ml-4"> <span class="workplace-bg roboto"> Clinic Address: </span> <span class="workplace-and-adress-bg pl-2"> Wereteli street 61 </span></p>
                <p class="clinic-name ml-4"> <span class="workplace-bg roboto"> Clinic Phone: </span> <span class="workplace-and-adress-bg pl-2"> +01 234 567 88 </span></p>
                <p class="clinic-location ml-4"> <span class="workplace-bg roboto"> Personal Phone: </span> <span class="workplace-and-adress-bg pl-2"> +01 234 567 88 </span></p>
                <p class="clinic-name ml-4"> <span class="workplace-bg roboto"> E-Mail: </span> <span class="workplace-and-adress-bg pl-2"> info@example.com </span></p>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col-md-12 text-about-veterinars roboto">
                <p> Dr. Joyce has been intrigued with animals for as long as she can remember. It was no surprise when she took that love to a new level and attended veterinary medical school after earning her BA in Biology and Chemistry from Gustavus Adolphus College. Although now primarily involved with overseeing operations at both Minnehaha Animal Hospital and partner clinic, Pet Doctors Animal Clinic, Dr. Joyce still regularly consults on hospital cases. She finds great rewards leading the teams with the mission to ensure that each pet has a healthy and comfortable life, and that clients feel appreciated, supported and empowered to care for their special pet. </p>
                <p>Those that know Dr. Joyce will attest that she is a bundle of energy. One of her greatest passions (other than animals!) is celebrating her roots by participating in local and international Czech activities. She is also an active BNI member and volunteer, serving on the executive board of a number of organizations, including the Affiliated Emergency Veterinary Services, The Animal Care Foundation, South Chicago Avenue Business Alliance, Czech and Slovak Sokol Minnesota, and the Czech and Slovak Cultural Center.</p>
                <p>She likes to spend any other free time traveling, gardening and hanging out with family and friends. She lives in Minneapolis with her husband, Norm and cats, Panda, Radar, Kitty and Margo.</p>
            </div>
        </div>
    </div>
</section>

