
@{
    ViewBag.Title = "Veterinarian";
}

<section>
    <div class="foto-secction container-fluid">
        <div class="box-shadow">
            <img class="doctor-foto" src="~/img/Vet.jpg" alt="Veterinars">
            <h4 class="doctor-name pt-4"> David Nanobasvili </h4>
            <p class="clinic-name pt-2"> <span class="font-weight-bold"> Workplace: </span> <span class="ddd" style="color:#888080;"> Clinic AB-Vet buneba </p>
            <p class="clinic-location"> <span class="font-weight-bold"> Clinic Address: </span> Wereteli street 61 </p>

            <div class="read-more pb-3">
                <a class="read pr-5" href="#"> Read More </a>
            </div>

            <div class="clear"> </div>
        </div>
    </div>
    <div class="vet-section mt-5 container-fluid box-shadow ">
        <div class="box-shadow">
            <img class="doctor-foto" src="~/img/Vet.jpg" alt="Veterinars">
            <h4 class="doctor-name pt-4"> Giorgi Chikvatia </h4>
            <p class="clinic-name pt-2"> <span class=" font-weight-bold"> Workplace: </span> Clinic AB-Vet buneba </p>
            <p class="clinic-location"> <span class=" font-weight-bold"> Clinic Address: </span> Wereteli street 61 </p>

            <div class="read-more pb-3">
                <a class="read pr-5" href="#"> Read More </a>
            </div>

            <div class="clear"> </div>
        </div>
    </div>
    <div class="vet-section mt-5 container-fluid">
        <div class="box-shadow">
            <img class="doctor-foto" src="~/img/Vet.jpg" alt="Veterinars">
            <h4 class="doctor-name pt-4"> Paata Chxeidze </h4>
            <p class="clinic-name pt-2"> <span class=" font-weight-bold"> Workplace: </span> Clinic AB-Vet buneba </p>
            <p class="clinic-location"> <span class=" font-weight-bold"> Clinic Address: </span> Wereteli street 61 </p>

            <div class="read-more pb-3">
                <a class="read pr-5" href="#"> Read More </a>
            </div>

            <div class="clear"> </div>
        </div>
    </div>
    <div class="vet-section mt-5 container-fluid">
        <div class="box-shadow">
            <img class="doctor-foto" src="~/img/Vet.jpg" alt="Veterinars">
            <h4 class="doctor-name pt-4"> David Alavidze </h4>
            <p class="clinic-name pt-2"> <span class=" font-weight-bold"> Workplace: </span> Clinic AB-Vet buneba </p>
            <p class="clinic-location"> <span class=" font-weight-bold"> Clinic Address: </span>Cincadze street 45 </p>

            <div class="read-more pb-3">
                <a class="read pr-5" href="#"> Read More </a>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="vet-section mt-5 container-fluid">
        <div class="box-shadow">
            <img class="doctor-foto" src="~/img/Vet.jpg" alt="Veterinars">
            <h4 class="doctor-name pt-4"> Alexander Qanashvili</h4>
            <p class="clinic-name pt-2"> <span class=" font-weight-bold"> Workplace: </span> Clinic AB-Vet buneba </p>
            <p class="clinic-location"> <span class=" font-weight-bold"> Clinic Address: </span> Cincadze street 45 </p>
            <div class="read-more pb-3">
                <a class="read pr-5" href="#"> Read More </a>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</section>

