
@{
    ViewBag.Title = "Veterinarian";
}

<section>
    <div class="foto-secction container-fluid">
        <div class="box-shadow">
            <img class="doctor-foto" src="~/img/doctor4.jpg" alt="Veterinars">
            <h4 class="doctor-name pt-4 roboto"> David Nanobasvili </h4>
            <p class="clinic-name pt-2"> <span class="workplace-bg roboto"> Workplace: </span> <span class="workplace-and-adress-bg pl-2"> Clinic AB-Vet buneba </span></p>
            <p class="clinic-location"> <span class="workplace-bg roboto"> Clinic Address: </span> <span class="workplace-and-adress-bg pl-2"> Wereteli street 61 </span></p>

            <div class="read-more pb-3">
                <a class="read pr-5" href="@Url.Action("VetDetailed", "Home")"> Read More </a>
            </div>

            <div class="clear"> </div>
        </div>
    </div>
    <div class="vet-section mt-5 container-fluid">
        <div class="box-shadow">
            <img class="doctor-foto" src="~/img/doctor4.jpg" alt="Veterinars">
            <h4 class="doctor-name pt-4 roboto"> Giorgi Chikvatia </h4>
            <p class="clinic-name pt-2"> <span class="workplace-bg roboto"> Workplace: </span> <span class="workplace-and-adress-bg pl-2"> Clinic AB-Vet buneba </span> </p>
            <p class="clinic-location"> <span class="workplace-bg roboto"> Clinic Address: </span> <span class="workplace-and-adress-bg pl-2"> Wereteli street 61</span> </p>

            <div class="read-more pb-3">
                <a class="read pr-5" href="#"> Read More </a>
            </div>

            <div class="clear"> </div>
        </div>
    </div>


    <div class="vet-section mt-5 container-fluid">
        <div class="box-shadow">
            <img class="doctor-foto" src="~/img/doctor4.jpg" alt="Veterinars">
            <h4 class="doctor-name pt-4 roboto"> Paata Chxeidze </h4>
            <p class="clinic-name pt-2"> <span class="workplace-bg roboto"> Workplace: </span> <span class="workplace-and-adress-bg pl-2">Clinic AB-Vet buneba </span> </p>
            <p class="clinic-location"> <span class="workplace-bg roboto"> Clinic Address: </span> <span class="workplace-and-adress-bg pl-2"> Wereteli street 61 </span> </p>

            <div class="read-more pb-3">
                <a class="read pr-5" href="#"> Read More </a>
            </div>

            <div class="clear"> </div>
        </div>
    </div>


    <div class="vet-section mt-5 container-fluid">
        <div class="box-shadow">
            <img class="doctor-foto" src="~/img/doctor4.jpg" alt="Veterinars">
            <h4 class="doctor-name pt-4 roboto"> David Alavidze </h4>
            <p class="clinic-name pt-2"> <span class="workplace-bg roboto"> Workplace: </span> <span class="workplace-and-adress-bg pl-2">Clinic AB-Vet buneba </span></p>
            <p class="clinic-location"> <span class="workplace-bg roboto"> Clinic Address: </span> <span class="workplace-and-adress-bg pl-2">Cincadze street 45 </span></p>

            <div class="read-more pb-3">
                <a class="read pr-5" href="#"> Read More </a>
            </div>

            <div class="clear"> </div>
        </div>
    </div>


    <div class="vet-section mt-5 container-fluid">
        <div class="box-shadow">
            <img class="doctor-foto" src="~/img/doctor4.jpg" alt="Veterinars">
            <h4 class="doctor-name pt-4 roboto"> Alexander Qanashvili</h4>
            <p class="clinic-name pt-2"> <span class="workplace-bg roboto"> Workplace: </span> <span class="workplace-and-adress-bg pl-2">Clinic AB-Vet buneba </span> </p>
            <p class="clinic-location"> <span class="workplace-bg roboto"> Clinic Address: </span> <span class="workplace-and-adress-bg pl-2">Cincadze street 45 </span> </p>

            <div class="read-more pb-3">
                <a class="read pr-5" href="#"> Read More </a>
            </div>

            <div class="clear"> </div>
        </div>
    </div>
</section>